@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .timeline-container {
    position: relative;
    padding-left: 20px;
    border-left: 4px solid darkslategray;
  }
  
  .timeline-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    animation: fadeInUp 0.6s ease-out;
  }
  
  .timeline-item-content {
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    animation: fadeInUp 0.6s ease-out;
  }
  
  .tag {
    display: inline-block;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }
  
  .circle {
    position: absolute;
    left: -8px;
    background-color: darkslategray;
    border: 4px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 10px;
  }
  